name: Run Acceptance Tests
on:
  push:

permissions:
  contents: read

jobs:
  run-acc-tests:
    runs-on: ubuntu-latest
    env:
      VAULT_ACC: 1
      TF_TOKEN: ${{ secrets.TF_TOKEN }}
      TF_ORGANIZATION: ${{ secrets.TF_ORGANIZATION }}
      TF_TEAM_ID: ${{ secrets.TF_TEAM_ID }}
      TF_USER_ID: ${{ secrets.TF_USER_ID }}

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: .go-version
          cache: true
      - name: Run Acceptance Tests
        run: make testacc
      - name: Run Test Build
        run: make dev